@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --bg: lightgrey;
    --bgSoft:rgb(201, 135, 135)
    --text: black;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: lightgrey;
    color:black;
    
}
a{
    color:inherit;
}
.flex{
    display: flex;
    background-color: beige;
}
.flex-col{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.justify-between{
    justify-content: space-between;

}
.container{
    background-color:beige;
    width:1536;
    margin:auto;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100vh;
    display: flex;
}